
#board button:focus {outline: none;}
#board button:hover {border-color: Black; background-color: Snow;}

#board button {margin: 1px; padding: 0.5em 1em; background-color: white; border: solid 1px #aaa; width: 45px;}

#board button.marked {border: solid 1px green;}

#board button.red-border {border: solid 1px Crimson;}
#board button.green-border {border: solid 1px ForestGreen;}
#board button.yellow-border {border: solid 1px Yellow;}

select {padding: 0.5em 1em;}

#switch-text {border: solid 1px lightgray; border-radius: 8px; padding: 2px 0.5em;}

